.bc-black{
    background-color: rgb(51, 50, 50);
}
.bc-celeste{
    background-color: aqua;
}
.bc-amarillo{
    background-color: yellow;
}
.bc-naranjo{
    background-color: orange;
}
.bc-red{
    background-color: red;
}

.texto-black{
    color: rgb(101, 95, 95);
}

.centrar{
    display: flex;
    justify-content: center;
}

.imagen{
    border-radius: 50rem;
    border-style: solid;
    border-color: black;
}

.link{ 
    color: white; 
    text-decoration: none; 
    font-size: 40px;
    cursor: pointer;   
    }
    .link:hover {
      color: rgb(0, 0, 0); 
      size: 400px;
      transition: 0.2s ease-in; 
    }
.tam-nav{
    
    
    width: 20%;
    max-width: 20%;
    height: 55rem;   
    display: block;
    top: 0px;
    font-family: sans-serif;
} 

.tam-main{
    
    width: 100%;
    height: 16rem;
    max-height: 25%;
}

.tam-total{

    width: 80%;
    height: 13.75rem;
}

.centrar{
    display: flex;
    justify-content: center;
    margin: 0;
}

.centrar-link{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.activar{
    color: rgb(240, 241, 243);
    transition: 0.3s ease-in; 
    text-indent: 0%;
}
.activar:hover{
    color: rgb(149, 146, 146);
    cursor: pointer; 
    transition: 0.3s ease-in; 
    text-indent: 2%;
}

.td{
    list-style: none;
    font-family: sans-serif;
}

